@media (max-width: 1200px){
    header .primary-nav {
        flex-wrap: wrap;
    }
    header .menu {
        justify-content: flex-start;
    }
}

@media (max-width: 1024px){
    header .menu {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    header .menu li {
        width: 50%;
    }
    header .menu-toggle {
        display: flex;
    }

    header .menu-toggle.active svg.close {
        display: inline-block;
    }
    header .menu-toggle.active svg.open {
        display: none;
    }
    header .menu-toggle svg.close {
        display: none;
    }
    header .menu {
        display: none;
    }
    header .menu.active {
        display: flex;
        background-color: #4A60A1;
        padding: 20px 0;
    }
}


@media (max-width: 1024px){
    footer .contact-us, footer .footer-menu-group {
        margin-bottom: 60px;
    }
}

@media (max-width: 992px){
    .hero-section form {
        flex-wrap: wrap;
    }

    .hero-section form .select-input {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
        border-right: 0;
        border-bottom: 1px solid #CFD3D6
    }


.hero-section form .select-input:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
.hero-section form .select-input:first-child {
    padding-right: 0;
}
}

@media (max-width: 768px){
    .top-header-right {
        flex-wrap: wrap;
    }
    .social-media {
        border-right: none;
        padding-right: 0;
    }
    .call-to-action h2 { 
        font-size: 28px;
    }
    .call-to-action p { 
        font-size: 18px;
    }
    .hero-section .hero-content {
        padding-top: 100px;
        padding-bottom: 30px;
        text-align: center;
    }
}


@media (max-width: 576px){
    .top-header {
        padding: 10px 0;
    }
}
