@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Public Sans', sans-serif; */

/* RESET CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    list-style: none;
}

ul {
    display: flex;
}

html body .container-fluid {
    max-width: 1720px;
    margin: 0 auto;
}

/* Top Header  */
.top-header {
    background: #2C3A61;
    padding: 26px 0;
    color: white;
}

.top-header-left a {
    color: white;
    display: flex;
    align-items: center;
}
.top-header-left a img{
    margin-right: 12px;
}
.top-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-header-right > a {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 28px;
}
.top-header-right > a img {
    margin-right: 12px;
}

.social-media li a {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media {
    border-right: 1px solid white;
    padding-right: 28px;
}

/* Primary Header  */
header {
    padding: 27px 0;
    background-color: white;
}

header .primary-nav {
    display: flex;
    justify-content: space-between;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .menu li a {
    padding: 12px 24px;
    font-size: 14;
    text-transform: uppercase;
    color: black;
}

header .menu li:last-child a {
    padding-right: 0;
}

/* Mobile Menu */
.menu-toggle {
    height: 45px;
    width: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
}


/* Footer */
footer .contact-us a.logo {
    margin-bottom: 24px;
}

footer h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

footer .contact-us p {
    color: #6D737A;
    margin-bottom: 8px;
}

footer .contact-us ul li a {
    background-color: #EDEFF6;
    color: #4A60A1;
    height: 48px;
    width: 48px;
}

footer .contact-us ul {
    gap: 16px;
    margin-top: 16px;
}


.footer-menu-group ul {
    flex-direction: column;
}

.footer-menu-group ul li a {
    padding: 8px 0;
    color: #6D737A;
}


.footer-menu-group h4 {
    margin-bottom: 32px;
}


/* Top Cities Section  */
.top-cities {
    margin: 200px 0;
    padding: 100px 0;
}

.top-cities .section-header {
    text-align: center;
    margin-bottom: 45px;
}

.top-cities .section-header h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}


.top-cities .section-header p {
    font-size: 20px;
    color: #889099;
}

.location-card {
    position: relative;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.location-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    height: 240px;
}

.location-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(59, 77, 129, 0.7) -12.86%, rgba(59, 77, 129, 0) 106.85%);
    padding: 24px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location-card .overlay .info h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.location-card .overlay .info p {
    font-size: 16px;
}
